In [ ]:
price_tv = int(input('enter the price of the tv:'))
if price_tv <= 25000:
  print('please pack it')
 else:
    print('we will look another one')

enter the price of the tv:57575757
we will look another one

In [ ]:
# WAP to print if a given number is even or odd
num = int (input('enter the number:'))
if num%2==0:
  print(num,'is even')
else:
  print(num,'is odd')

enter the number:454
454 is even



```
emi option

```

In [ ]:
a = 12
b = 32
c = 26
if a>b and a>c:
  print(a,'is the biggest')
elif b>a and b>c:
  print(b,'is the biggest')
else:
  print(c,'is the biggest')

32 is the biggest

**loop**
itterative statement

In [ ]:
# for loop
for num in range(0,11):
  print(num)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# WAP to find the squares of all even numbers between 1-10
for num in range(1,11):
  if num%2==0:
    print(num*num)

4
16
36
64
100

In [ ]:
'''WAP to get a limit as input from the user and find the sum of all numbers till the limit'''
lim = int(input('enter the limit:'))
sum = 0
for num in range(1,lim+1):
  sum=sum+sum
print('sum=',sum)

enter the limit:5
sum= 0

In [36]:
''' WAP to count the number divisible by 3 from 5 to 500'''
count = 0

for num in range(5, 501):
    if num % 3 == 0:
        count += 1

print("Number of integers divisible by 3 from 5 to 500:", count)

Number of integers divisible by 3 from 5 to 500: 165

In [ ]:
'''WAP to print the sum of elements in a given list'''
s = 0
l1= [25,32,88,79,52,46]
for n in l1:
 s=s+n
 print(s)

25
57
145
224
276
322

In [ ]:
# while loop
i=0
while(i!=10):
  print(i)
  i+=2

0
2
4
6
8

In [ ]:
l1 = [5,15,22,32,46,89]
even = []
odd = []

while len(l1)>0:
  l=l1.pop()
  if 1%2==0:
    even.append(3)
else:
      odd.append(3)
print(even)
print(odd)

[]
[3]

In [46]:
''' WAP that allows the user to input the name until the user decide to stop. then, print all the names the user has entered'''
na,e_l = []
a = ''
while (a!='NO'):
  name = input(' Enter name:')
  a = input('do you want to continue, enter No to stop:')
  a=a.upper()
  name_1.append(name)
print('The entered names are:', name_1)

ValueError: not enough values to unpack (expected 2, got 0)

In [ ]:
# continue
i =1
while(i,10):
  if i==5:
    i+=1
    continue
print(i)
i=i+1